#sign_up {
    background-image: url(https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/en_US/games/switch/a/animal-crossing-new-horizons-switch/hero);
    background-repeat: no-repeat;
    background-size: cover;
}

#log_in{
    background-image: url(https://cdn.mos.cms.futurecdn.net/iPKatp6VvEFwBwMeYXSwhR.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    font-size: 50px;
} 

.name {
    font-size: 35px;
    font-weight: bold;  
}

.email {

    font-size: 35px;
    font-weight: bold;    
}

.btn-btn-full {
    margin: 50px;
    font-size: 35px;
}

div h3{
    font-size: 35px;
}

.form1 {
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    
}

form div{
    display: flex;
    justify-content: space-between;
   width: 350px;
}

.head {
    color: black;

    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 100px;    
    display: flex;
    flex-direction:column;
    align-items: center;
}
.pic1 {
    margin-left: 100px;
    float: left;
 
}
.founder {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.caption {
    margin-left: 100px;
    background-color: maroon;
    height: 500px;
    margin-right: 100px;
}