* {
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/395/537/original/abstract-blue-and-white-geometric-background-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}